body
        {
           background-color: #e59991;
        }
hr      {
           border-color: rgb(221, 212, 212);
            border-style: none;
            border-top: dotted;
            border-width: 5px;
            width: 5%;
        }
        h1{
           color:#272d2d;
        }
        h2{
            color: #146356;
        }
        h3{
            color: #146356;
         }
         h4{
            color:#35589A;
         }
         h5{
             color: #3f3a0c;
         }
         h6{
             color: #275c74;
          }
